<h1 class="page-header">Users</h1>

<a routerLink="new" routerLinkActive="active" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add User</a>


<div class="error" *ngIf="error">
    <div class="alert alert-danger ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
    </div>
</div>
<div class="success" *ngIf="success">
    <div class="alert alert-success ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
    </div>
</div>
<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Users"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'firstname'"
            [header]="'First Name'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'lastname'"
            [header]="'Last Name'"
            [sortable]="true"
			[resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'username'"
            [header]="'User Name'"
			[sortable]="true"
			[resizable]="true">
        </data-table-column>
		<data-table-column
            [property]="'emailaddress'"
            [header]="'Email'"
			[sortable]="true"
			[resizable]="true">
        </data-table-column>
		<data-table-column
            [property]="'birthday'"
            [header]="'Birth Date'"
			[sortable]="true"
			[resizable]="true">
        </data-table-column>
        <data-table-column
            [header]="'Action'">
			<template #dataTableHeader let-item="item">
				<i>Actions</i>
			</template>
			<template #dataTableCell let-item="item">
				<a routerLink="/user/{{item._id}}" routerLinkActive="active" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
				<button (click)="deleteUser(item)" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-remove"></span> Delete</button>
			</template>
        </data-table-column>
    </data-table>
</div>