<h1 class="page-header" *ngIf="!updatePage">Apply Leave</h1>
<h1 class="page-header" *ngIf="updatePage">Update Leave</h1>

<div class="error" *ngIf="error">
    <div class="alert alert-danger ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
    </div>
</div>
<div class="success" *ngIf="success">
    <div class="alert alert-success ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
    </div>
</div>

<form class="form-horizontal" [formGroup]="leaveForm" (ngSubmit)="submitForm($event)">
  <fieldset>

  <!-- Select Leave type -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="leavetype">Leave type</label>
    <div class="col-md-4">
      <select id="leavetype" formControlName="leavetype" class="form-control">
        <option value="">Select Leave</option>
        <option value="Casual Leave">Casual Leave</option>
        <option value="Maternity Leave">Maternity Leave</option>
      </select>
    </div>
  </div>

  <!-- Start Date-->
  <div class="form-group">
    <label class="col-md-2 control-label" for="startdate">Start Date</label>  
    <div class="col-md-4">
    <input id="startdate" formControlName="startdate" type="date" class="form-control input-md">
      
    </div>
  </div>

    <!-- End Date-->
  <div class="form-group">
    <label class="col-md-2 control-label" for="enddate">End Date</label>  
    <div class="col-md-4">
    <input id="enddate" formControlName="enddate" type="date" class="form-control input-md">
      
    </div>
  </div>

  <!-- Leave Description  -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="description">Description</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="description" formControlName="description" placeholder="Description"></textarea>
    </div>
  </div>
  <div *ngIf="leaveForm.value.approve_status != 0 && loginuser.role != '3'">
    <div class="form-group">
        <label class="col-md-2 control-label">Status</label>
        <div class="col-md-4">
        <select formControlName="approve_status" class="form-control">
            <option value="">Select Leave Status</option>
            <option value="1">Approve</option>
            <option value="2">Reject</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label" for="comment">Comment</label>
        <div class="col-md-4">                     
        <textarea class="form-control" formControlName="comment" placeholder="Comment"></textarea>
        </div>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
     <label class="col-md-2 control-label"></label>
    <div class="col-md-4">
      <button type="submit" [disabled]="!leaveForm.valid || loading" class="btn btn-primary"><i *ngIf="loading" class="glyphicon glyphicon-repeat gly-spin"></i> Submit</button>
      <button type="reset" id="clearuser" name="clearuser" class="btn btn-danger">Clear</button>
    </div>
  </div>

  </fieldset>
</form>