<div class="col-md-12">

  <h1 class="page-header">Change Password</h1>

  <div class="error" *ngIf="error">
      <div class="alert alert-danger ng-binding ng-scope">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
      </div>
  </div>
  <div class="success" *ngIf="success">
      <div class="alert alert-success ng-binding ng-scope">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
      </div>
  </div>
  <form class="form-horizontal" [formGroup]="changePassForm" (ngSubmit)="submitForm($event)">
 
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label">Current Password</label>  
      <div class="col-md-4">
          <input type="password" tooltip="Current Password" class="form-control input-md required" formControlName="currentpassword">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label">New Password</label>  
      <div class="col-md-4">
          <input type="password" tooltip="Current Password" class="form-control input-md required" formControlName="newpassword">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label">Re-enter New Password</label>  
      <div class="col-md-4">
          <input type="password" tooltip="Current Password" class="form-control input-md required" formControlName="renewpassword">
      </div>
    </div>
    

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-3 control-label"></label> 
      <div class="col-md-4">
        <button type="submit" [disabled]="!changePassForm.valid || loading" class="btn btn-primary"><i *ngIf="loading" class="glyphicon glyphicon-repeat gly-spin"></i> Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
    </div>

  </form>
</div>  