<h1 class="page-header">Holidays</h1>

<a routerLink="new" *ngIf="isAdmin=='1'" routerLinkActive="active" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Holiday</a>

<div class="error" *ngIf="error">
    <div class="alert alert-danger ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
    </div>
</div>
<div class="success" *ngIf="success">
    <div class="alert alert-success ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
    </div>
</div>
<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Holidays"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'holidayname'"
            [header]="'Name'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'holidaydate'"
            [header]="'Date'"
            [sortable]="true"
			[resizable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.holidaydate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [header]="'Action'">
			<template #dataTableHeader let-item="item">
				<i>Actions</i>
			</template>
			<template #dataTableCell let-item="item">
                <button (click)="openViewModal(item)" title="View" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span> View</button>
				<a routerLink="/holiday/{{item._id}}" *ngIf="isAdmin=='1'" title="Edit" routerLinkActive="active" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
				<button (click)="openDeleteModal(item)" *ngIf="isAdmin=='1'" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>

			</template>
        </data-table-column>
    </data-table>
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Delete</h4>
    </modal-header>
    <modal-body>
    Are you sure, you want to delete these holiday ?
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteHoliday(item)" (click)="modal.close()">Ok</button>
    </modal-footer>
</modal>

<modal #modalView>
    <modal-header [show-close]="true">
        <h4 class="modal-title">View</h4>
    </modal-header>
    <modal-body>
    <div>
        <dl>
            <b>Holiday : </b> {{ modalData?.holidayname }}
        </dl>
        <dl>
            <b>Date : </b> {{ modalData?.holidaydate }}
        </dl>
    </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
    </modal-footer>
</modal>