<h1 class="page-header">My Leave</h1>

<a routerLink="new" routerLinkActive="active" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Apply Leave</a>

<div class="error" *ngIf="error">
    <div class="alert alert-danger ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
    </div>
</div>
<div class="success" *ngIf="success">
    <div class="alert alert-success ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
    </div>
</div>
<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Leaves"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'leavetype'"
            [header]="'Leave Type'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'startdate'"
            [header]="'Start Date'"
            [sortable]="true"
			[resizable]="true"
            [width]="100">
            <template #dataTableCell let-item="item">
                <span>{{item.startdate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [property]="'enddate'"
            [header]="'End Date'"
            [sortable]="true"
			[resizable]="true"
            [width]="100">
            <template #dataTableCell let-item="item">
                <span>{{item.enddate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [property]="'approve'"
            [header]="'Status'"
            [sortable]="true"
			[resizable]="true"
             [width]="150">
            <template #dataTableCell let-item="item">
                <span class="label label-success" *ngIf="item.approve_status == '0'">Pending</span>
                <span class="label label-info" *ngIf="item.approve_status == '1'">Approved</span>
            </template>
        </data-table-column>
        <data-table-column
            [header]="'Action'"
            [resizable]="true">
			<template #dataTableHeader let-item="item">
				<i>Actions</i>
			</template>
			<template #dataTableCell let-item="item">
                <button (click)="approveLeave(item)" *ngIf="item.approve_status == '0' && isAdmin=='1'" title="Make Approve" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-ok"></span>Approve</button>
                <button (click)="approveLeave(item)" *ngIf="item.approve_status == '1' && isAdmin=='1'" title="Make Pending" class="btn btn-sm btn-default">Pending</button>
				<a routerLink="/myleave/{{item._id}}" title="Edit" routerLinkActive="active" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
				<button (click)="deleteLeave(item)" title="Delete" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
			</template>
        </data-table-column>
    </data-table>
</div>