<h1 class="page-header">My Leave</h1>

<a routerLink="new" routerLinkActive="active" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Apply Leave</a>

<div class="error" *ngIf="error">
    <div class="alert alert-danger ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
    </div>
</div>
<div class="success" *ngIf="success">
    <div class="alert alert-success ng-binding ng-scope">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
    </div>
</div>
<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Leaves"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        [rowTooltip]="rowTooltip"
        >
         <data-table-column
            [header]="'User'"
            [sortable]="true"
            [resizable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.userid.firstname}} {{item.userid.lastname}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [property]="'leavetype'"
            [header]="'Leave Type'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'startdate'"
            [header]="'Start Date'"
            [sortable]="true"
			[resizable]="true"
            [width]="100">
            <template #dataTableCell let-item="item">
                <span>{{item.startdate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [property]="'enddate'"
            [header]="'End Date'"
            [sortable]="true"
			[resizable]="true"
            [width]="100">
            <template #dataTableCell let-item="item">
                <span>{{item.enddate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [property]="'approve'"
            [header]="'Status'"
            [sortable]="true"
			[resizable]="true"
             [width]="80">
            <template #dataTableCell let-item="item">
                <span class="label label-warning" *ngIf="item.approve_status == '0'">Pending</span>
                <span class="label label-success" *ngIf="item.approve_status == '1'">Approved</span>
                <span class="label label-danger" *ngIf="item.approve_status == '2'">Rejected</span>
            </template>
        </data-table-column>
        <data-table-column
            [header]="'Action'"
            [resizable]="true">
			<template #dataTableHeader let-item="item">
				<i>Actions</i>
			</template>
			<template #dataTableCell let-item="item">
                <button (click)="openViewModal(item)" title="View" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> View</button>
				<a routerLink="/myleave/{{item._id}}" title="Edit" routerLinkActive="active" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <button (click)="openDeleteModal(item)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>

			</template>
        </data-table-column>
    </data-table>
</div>


<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Delete</h4>
    </modal-header>
    <modal-body>
    Are you sure, you want to delete these leave ?
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteLeave(modalDel)" (click)="modal.close()">Ok</button>
    </modal-footer>
</modal>

<modal #modalView>
    <modal-header [show-close]="true">
        <h4 class="modal-title">View</h4>
    </modal-header>
    <modal-body>
    <div>
        <dl>
            <b>User : </b> {{ modalData?.userid.firstname }} {{ modalData?.userid.lastname }}
        </dl>
        <dl>
            <b>LeaveType : </b> {{ modalData?.leavetype }}
        </dl>
        <dl>
            <b>Leave Start Date : </b> {{ modalData?.startdate }}
        </dl>
        <dl>
            <b>Leave End Date : </b> {{ modalData?.enddate }}
        </dl>
        <dl>
            <b>Description : </b> {{ modalData?.description }}
        </dl>
        <dl>
            <b>Leave status : </b> 
                <span class="label label-warning" *ngIf="modalData?.approve_status == '0'">Pending</span>
                <span class="label label-success" *ngIf="modalData?.approve_status == '1'">Approved</span>
                <span class="label label-danger" *ngIf="modalData?.approve_status == '2'">Rejected</span>
        </dl>
        <dl>
            <b>Status Comment : </b> {{ modalData?.comment }}
        </dl>
    </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
    </modal-footer>
</modal>