<div class="col-md-12">
  <h1 class="page-header">Contact Us</h1>

  <form class="form-horizontal">
   
    <!-- Subject-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="subject">Subject</label>  
      <div class="col-md-4">
      <input id="subject" name="subject" required type="text" placeholder="subject" class="form-control input-md">       
      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="description">Description</label>
      <div class="col-md-4">                     
        <textarea class="form-control" required id="description" name="description" placeholder="Description"></textarea>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-2 control-label"></label>
      <div class="col-md-4">
        <button type="submit" id="submituser" name="submituser" class="btn btn-primary">Submit</button>
        <button type="reset" id="clearuser" name="clearuser" class="btn btn-default">Clear</button>
      </div>
    </div>

  </form>
</div>  
