<div id="sidebar-wrapper">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <span class="sidebar-icon"><i class="glyphicon glyphicon-dashboard"></i></span>
                        <span class="sidebar-title">Home</span>
                    </a>
                </li>
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                        <span class="sidebar-icon"><i class="glyphicon glyphicon-user"></i></span>
                        <span class="sidebar-title">Users</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                        <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>User Profile</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>User Roles</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/holiday" routerLinkActive="active">
                        <span class="sidebar-icon"><i class="glyphicon glyphicon-book"></i></span>
                        <span class="sidebar-title">Holiday</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard1" routerLinkActive="active">
                        <span class="sidebar-icon"><i class="glyphicon glyphicon-hdd"></i></span>
                        <span class="sidebar-title">Data</span>
                    </a>
                </li>
            </ul>
        </aside>            
    </div>