<div class="col-md-12">
  <h1 class="page-header" *ngIf="!updatePage">Create Holiday</h1>
  <h1 class="page-header" *ngIf="updatePage">Update Holiday</h1>

  <div class="error" *ngIf="error">
      <div class="alert alert-danger ng-binding ng-scope">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
      </div>
  </div>
  <div class="success" *ngIf="success">
      <div class="alert alert-success ng-binding ng-scope">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
      </div>
  </div>

  <form class="form-horizontal" [formGroup]="holidayForm" (ngSubmit)="submitForm($event)">
  
    <!-- Holiday Name-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="holidayname">Holiday Name</label>  
      <div class="col-md-4">
      <input id="holidayname" formControlName="holidayname" type="text" tooltip="Holiday Ex. Holi, Diwali" class="form-control input-md required">
        
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-md-2 control-label">Holiday Date</label>  
      <div class="col-md-4">
         <my-date-picker name="holidaydate" [options]="myDatePickerOptions" formControlName="holidaydate"></my-date-picker>
          <control-messages [control]="holidayForm.controls.holidaydate"></control-messages>
      </div>
    </div>
    <!-- Date-->
    <!--<div class="form-group">
      <label class="col-md-2 control-label">Holiday Date</label>  
      <div class="col-md-4">
          <input required formControlName="holidaydate" type="text" tooltip="Holiday Date DD-MM-YYYY" class="form-control input-md">
          <control-messages [control]="holidayForm.controls.holidaydate"></control-messages>
      </div>
    </div>-->

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-2 control-label"></label> 
      <div class="col-md-4">
        <button type="submit" [disabled]="!holidayForm.valid || loading" class="btn btn-primary"><i *ngIf="loading" class="glyphicon glyphicon-repeat gly-spin"></i> Submit</button>
        <a routerLink="/holiday" class="btn btn-default" role="button">Back</a>
      </div>
    </div>

  </form>

  
</div>  