<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    border: 1px solid gray;
	margin: 0 60px;
}

.headpart, .footpart {
    padding: 1em;
    color: white;
    background-color: #021D34;
    clear: left;
    text-align: center;
	text-decoration: none;
}


.corepart {
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<div class="headpart">
   <h1>Leave Management System</h1>
</div>

<div class="corepart">
	<h1>Dear Sir/Mam</h1>
	<p>I would like to request you for leave, below the description about leave.</p>
	<p>Name : $fullname</p>
	<p>Email : $email</p>
	<p>Reporting Manager : $reportingmanager</p>
	<p>Leave Type : $leavetype</p>
	<p>Leave Duration : $leaveduration</p>
	<p>Leave Description : $leavedescription</p>
	<p>Thank you very much for your assistance.</p>	
</div>

<div class="footpart">Copyright &copy; byteparity.com</div>

</div>

</body>
</html>
