<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    border: 1px solid gray;
	margin: 0 15px;
}

.headpart, .footpart {
    padding: 1em;
    color: white;
    background-color: #021D34;
    clear: left;
    text-align: center;
	text-decoration: none;
}


.corepart {
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<div class="headpart">
   <h1>Leave Management System</h1>
</div>

<div class="corepart">
	<h1>Hello $fname $lname</h1>
	<p>Thank you. You have been added to our Leave Management System. It is look great and we are glad to see you here.</p>
	<p>This is your login credential below.</p>
	<p><b>Email : $email</b></p>
	<p><b>Password : $password</b></p>
	<p>You are added in the system as a <b>$userRole</b> and You can login in system with your credential.</p>
</div>

<div class="footpart">Copyright &copy; byteparity.com</div>

</div>

</body>
</html>
