<div class="col-md-12">
  <h1 class="page-header">Edit Profile</h1>

  <div class="error" *ngIf="error">
      <div class="alert alert-danger ng-binding ng-scope">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
      </div>
  </div>
  <div class="success" *ngIf="success">
      <div class="alert alert-success ng-binding ng-scope">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{success}}
      </div>
  </div>
  <form class="form-horizontal" [formGroup]="editUserForm" (ngSubmit)="submitForm($event)">

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="firstname">First name</label>  
      <div class="col-md-4">
          <input type="text" tooltip="Firstname" required class="form-control input-md" formControlName="firstname">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="lastname">Last name</label>  
      <div class="col-md-4">
      <input formControlName="lastname" required type="text" tooltip="Lastname" class="form-control input-md">
        
      </div>
    </div>

    <!-- Photo --> 
    <div class="form-group">
      <label class="col-md-2 control-label" for="Photo">Photo</label>
      <div class="col-md-4">
        <input formControlName="file" tooltip="Upload Picture" name="file" class="input-file" type="file" ng2FileSelect [uploader]="uploader" (change)="uploader.uploadAll()">
      </div>
    </div>

    <!-- Birthday-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="birthday">Birthday</label>  
      <div class="col-md-4">
      <!--<input formControlName="birthday" required type="date" tooltip="Birthdate Ex. DD-MM-YYYY" class="form-control input-md">-->
      <my-date-picker name="birthday" [options]="myDatePickerOptions" formControlName="birthday"></my-date-picker>
      </div>
    </div>

    <!-- Gender -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="gender">Gender</label>
      <div class="col-md-4">
        <select formControlName="gender" tooltip="Gender" class="form-control" required>
      <option value="">Select Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
      </div>
    </div>

    <!-- Phone-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="phone">Phone</label>  
      <div class="col-md-4">
      <input formControlName="phone" type="tel" tooltip="Phone" class="form-control input-md">
        
      </div>
    </div>

    <!-- Address -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="address">Address</label>
      <div class="col-md-4">                     
        <textarea class="form-control" tooltip="Address" formControlName="address">address</textarea>
      </div>
    </div>


    <!-- Button -->
    <div class="form-group">
      <label class="col-md-2 control-label"></label>
      <div class="col-md-4">
        <button type="submit" [disabled]="!editUserForm.valid || loading" class="btn btn-md btn-primary"><i *ngIf="loading" class="glyphicon glyphicon-repeat gly-spin"></i> Submit</button>
        <a routerLink="/myprofile" class="btn btn-default" role="button">Back</a>
      </div>
    </div>

  </form>
</div>  